@tailwind base;
@tailwind components;
@tailwind utilities;
 /* 
  0, 0%, 100%
 223, 96%, 62%
 225, 5%, 30%
 */
@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 225, 5%, 30%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 100%;
 
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 100%;
 
    --primary: 223, 97%, 62%;
    --primary-foreground: 0, 0%, 100%;
    --primary-hover: 223, 94%, 49%;
 
    --secondary: 223, 94%, 49% 0;
    --secondary-foreground: 0, 0%, 100%;
 
    --muted: 225, 5%, 30%;
    --muted-foreground: 225, 5%, 30%;
 
    --accent: 223, 97%, 62%;
    --accent-foreground: 223, 97%, 62%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 223, 97%, 62%;
    --input: 223, 97%, 62%;
    --ring: 223, 97%, 62%;
 
    --radius: 0.5rem;

    --font-text: 225, 5%, 30%;
    --font-heading: 225, 20%, 8%;
    --font-white: 225, 20%, 8%;
    --font-black: 225, 20%, 8%;
    --font-primary: 223, 97%, 62%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}